body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 200vh;

  font-size: 60px;
  font-weight: bold;
}
/* 
.box {
  color: white;
}
.box1 {
  color: white;
} */
